Challenge2/Azure.template.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Delay": {
                "inputs": {
                    "interval": {
                        "count": 25,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "Send_Text_Message_(SMS)": [
                        "Succeeded"
                    ]
                },
                "type": "Wait"
            },
            "Delay_2": {
                "inputs": {
                    "interval": {
                        "count": 5,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "Send_Text_Message_(SMS)_2": [
                        "Succeeded"
                    ]
                },
                "type": "Wait"
            },
            "Delay_3": {
                "inputs": {
                    "interval": {
                        "count": 5,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "Send_Text_Message_(SMS)_3": [
                        "Succeeded"
                    ]
                },
                "type": "Wait"
            },
            "Delay_4": {
                "inputs": {
                    "interval": {
                        "count": 4,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "Send_Text_Message_(SMS)_6": [
                        "Succeeded"
                    ]
                },
                "type": "Wait"
            },
            "Delay_5": {
                "inputs": {
                    "interval": {
                        "count": 4,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "Send_Text_Message_(SMS)_4": [
                        "Succeeded"
                    ]
                },
                "type": "Wait"
            },
            "Delay_6": {
                "inputs": {
                    "interval": {
                        "count": 1,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "Send_Text_Message_(SMS)_5": [
                        "Succeeded"
                    ]
                },
                "type": "Wait"
            },
            "Delay_7": {
                "inputs": {
                    "interval": {
                        "count": 5,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "Send_Text_Message_(SMS)_7": [
                        "Succeeded"
                    ]
                },
                "type": "Wait"
            },
            "Send_Text_Message_(SMS)": {
                "inputs": {
                    "body": {
                        "body": "8:00 AM - start the coffee, set out 4 cups",
                        "from": "+19986040023",
                        "to": "+919986040023"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Send_Text_Message_(SMS)_2": {
                "inputs": {
                    "body": {
                        "body": "8:25 AM - pour two cups",
                        "from": "@body('Send_Text_Message_(SMS)')?['from']",
                        "to": "@body('Send_Text_Message_(SMS)')?['to']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "Delay": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_Text_Message_(SMS)_3": {
                "inputs": {
                    "body": {
                        "body": "8:30 AM - light the candles",
                        "from": "@body('Send_Text_Message_(SMS)_2')?['from']",
                        "to": "@body('Send_Text_Message_(SMS)')?['to']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "Delay_2": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_Text_Message_(SMS)_4": {
                "inputs": {
                    "body": {
                        "body": "8:35 AM - deliver the coffee to Mom and Dad",
                        "from": "@body('Send_Text_Message_(SMS)_3')?['from']",
                        "to": "@body('Send_Text_Message_(SMS)_3')?['to']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "Delay_3": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_Text_Message_(SMS)_5": {
                "inputs": {
                    "body": {
                        "body": "8:39 AM - return to kitchen, fill two more cups",
                        "from": "@body('Send_Text_Message_(SMS)_4')?['to']",
                        "to": "@body('Send_Text_Message_(SMS)_3')?['from']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "Delay_5": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_Text_Message_(SMS)_6": {
                "inputs": {
                    "body": {
                        "body": "8:45 AM - deliver the coffee to Sister and Brother",
                        "from": "@body('Send_Text_Message_(SMS)_7')?['from']",
                        "to": "@body('Send_Text_Message_(SMS)_7')?['to']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "Delay_7": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_Text_Message_(SMS)_7": {
                "inputs": {
                    "body": {
                        "body": "8:40 AM - relight the candles",
                        "from": "@body('Send_Text_Message_(SMS)_5')?['from']",
                        "to": "@body('Send_Text_Message_(SMS)_5')?['to']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "Delay_6": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_Text_Message_(SMS)_8": {
                "inputs": {
                    "body": {
                        "body": "8:49 AM - return to kitchen, take a break!",
                        "from": "@body('Send_Text_Message_(SMS)_6')?['from']",
                        "to": "@body('Send_Text_Message_(SMS)_6')?['to']"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {
                    "Delay_4": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Month",
                    "interval": 12,
                    "startTime": "2019-12-13T08:00:00Z",
                    "timeZone": "W. Europe Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "twilio": {
                    "connectionId": "/subscriptions/21da27ff-d6b1-408d-bb1d-8faeafad9019/resourceGroups/Serverless/providers/Microsoft.Web/connections/twilio",
                    "connectionName": "twilio",
                    "id": "/subscriptions/21da27ff-d6b1-408d-bb1d-8faeafad9019/providers/Microsoft.Web/locations/eastasia/managedApis/twilio"
                }
            }
        }
    }
}